{% extends '::base.html.twig' %}
{% block body %}
<div class="col-md-2">

</div>
    <div class="col-md-5" >
      <input type="text" class="form-control" placeholder="Producto">
      <br>
      <input type="text" class="form-control" placeholder="Precio">
      <br>
      <button type="button" class="btn btn-success">Agregar</button>
      <button type="button" class="btn btn-success">Actualizar</button>
      <button type="button" class="btn btn-success">Eliminar</button>
    </div>

{% endblock %}
