{% extends '::base.html.twig' %}
  {% block body %}
  <center>
  <div >
    <input type="text" name="" value="" placeholder="producto">
    <input type="text" name="" value=""placeholder="precio">
    <br>
    <button type="button" class="btn btn-success">Agregar</button>
    <button type="button" class="btn btn-success">Actualizar</button>
    <button type="button" class="btn btn-success">Eliminar</button>
  </div>
</center>
{% endblock %}
